body
{
	margin: 0px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

#wrapper
{
	width:810px;
	margin: 0px auto;
	padding: 0px;
}

#main-header
{
	border:1px solid #ddd;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background:#f8f8f8;
	margin:25px;	
	color:#d60000;
}

#main-header h1
{
	margin:25px;
	text-shadow:1px 1px 2px #999;
}

#content 
{
	width:625px;
	margin: 0px auto;
}

#content form
{
	border:1px solid #ddd;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; 
	background:#f8f8f8;
	margin:25px;
	padding:25px;
}

#content form input[type="text"]
{
	width:78%;
}

#content form input[type="submit"]
{
	width:20%;
}


#content ul
{
	list-style:none;
	margin: 0px;
	padding: 0px;

}

#content ul li
{
	border:1px solid #ddd;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background:#f8f8f8;
	margin:25px;
}

#content ul li .hentry
{
	margin:25px;
	text-shadow:1px 1px 2px #eee;
}

#content ul li .entry-title
{
	margin:0px;
}

#content ul li .entry-title a
{
	color:#444;
	text-shadow:2px 2px 4px #ccc;
	text-decoration:none;
}

#content ul li.kan-active
{
	background:#f9e5e4;
	border:1px solid #d60000;
}
